

p{color: black}


h1{text-align: center;
	color: white;
   font-size:30px;
}





h2{
	text-align: center;
color: red;
font-size:17px;

}

body{background-color:#3da849 }





